<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>관리자 화면</title>
  <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }
        .list table th, .list table td {
            border: solid 1px #000;
        }
    </style>
</head>
<body>

<h1> 관리자 회원 관리 </h1>
<div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>
<div class="list">
  <div>
    <form method="post" action="/admin/category/add.do">
      <input type="text" name="categoryName" placeholder="카테고리 명을 입력하세요." required  />
      <button type="submit">추가</button>
    </form>
  </div>

  <div th:text="${list}">

  </div>

  <table>
    <thead>
    <tr>
      <th> ID </th>
      <th> 카테고리명 </th>
      <th> 순서 </th>
      <th> 사용여부 </th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="list : ${list}">
        <td th:text="${list.id}"></td>
        <td th:text="${list.categoryName}"></td>
        <td th:text="${list.sortValue}"></td>
        <td>
          <p th:if="${list.usingYn}">Y</p>
          <p th:if="${list.usingYn eq false}">N</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>